






.button button{
  width: 200px;
  font-size: 1.5rem;
  padding: 20px;
  border: rgb(151, 222, 45) solid 3px;
  border-radius: 10px;
  background-color: black;
  color: greenyellow;
}





/*encabezado*/

header {
  background: black;
  width: 100%;
  clear:both;
  content: "";
  display: table;
  
}




/*navbar*/


.menu{
  width: 100%;
  
  
}
.menu img{
  width: 75px;
  height: 50%;
  float: left;
  padding: 8px;

  
}




  nav ul li{
      list-style: none;
      margin-left: 100px;
      padding: 25px 0;
      float: left;
      
      
  }

  nav ul li a{
      text-decoration: none;
      color: white;
      font-family: "M PLUS Code Latin", sans-serif;
      font-weight: bold;

  }
  nav ul li a::before{
      display: block;
      content: "";
      width: 0%;
      background: greenyellow;
      height: 5px;
      top: 0;
      position: absolute;
      transition: width 0.3s;
  }
  nav ul li a:hover::before{
      width: 100%;

  }
  nav ul li a:hover{
    color: greenyellow;
    }


  
  /* foto de perfil*/

.foto-perfil {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  min-height: 400px;
  background-color: rgb(122, 139, 170);
}
.foto-perfil img {
  height: 230px;
  width: 230px;
  border: 1px black solid;
  border-radius: 50%;
}

/* titulo, nombre y apellido*/

.cv-nombre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
  background-color:rgb(122, 139, 170);;
}
.cv-nombre h1 {
  padding: 10px;
  color: black;
  font-size: 4rem;
  font-weight: bold;
  font-family: "M PLUS Code Latin", sans-serif;
}
.cv-nombre h2 {
  padding: 10px;
  color: black;
  font-size: 3rem;
  font-weight: bold;
  font-family: "Shantell Sans", cursive;
}

/* s1 - datos personales*/

.s1{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 100%;
  gap: 10px;
  background: rgb(122, 139, 170);
}
.s1 .caja{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  min-height: 150px;
  border: solid 3px greenyellow;
  border-radius: 5%;
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 28%, rgba(7,37,65,0.9472382703081232) 87%, rgba(25,87,99,1) 100%);

}

.caja i{
  color: greenyellow;
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 5px;
  padding: 12px;
  background: rgb(21, 16, 110);
  background: radial-gradient(circle, rgb(16, 12, 101) 28%, rgba(7,37,65,0.9472382703081232) 87%, rgb(53, 125, 139) 100%);
  border-radius: 50%;
  border: 3px solid greenyellow;
 
}
.caja p{
  font-size: 1.5rem;
  font-weight: bold;
  color: greenyellow;
  font-family: "Shantell Sans", cursive;
  margin: 0;
  
  



}

/* s2*/


.exp-personal{
  display: flex;
  flex: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: "Shantell Sans", cursive;
  color: black;
  font-weight: bold;
  background: rgb(122, 139, 170);
  min-height: 90px;


}


/* acordion*/



#exp {
  color: rgb(138, 214, 25);
  font-family: "Shantell Sans", cursive;
  font-size: 1.5rem;
}

#lor {
  color: black;
  font-size: 1.5rem;
  font-family: "Shantell Sans", cursive;
}

#boton {
  background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 28%, rgba(7,37,65,0.9472382703081232) 87%, rgba(25,87,99,1) 100%);

  border: 2px solid black;
}

.accordion-body {
  background-color: rgb(122, 139, 170);
}



.titulo-exp {
  font-size: 2rem;
  font-weight: bold;
  margin: 10px 0;
}

.contenido-exp {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Shantell Sans", cursive;
}
/* Habilidades*/

.s3{
  padding-top: 20px;
  background-color: rgb(122, 139, 170);
}
.habilidades p{
  color: black;
}
.habilidades i {
  
  color: greenyellow;
  font-size: 2.5rem;
  padding: 12px;
  background-color: black;
  border-radius: 50%;
  border: 2px solid greenyellow;
  
}





/*footer*/

.pie_de_pagina{
  width: 100%;
  background-color: black;

}
.pie_de_pagina .g1{
  width: 100%;
  margin: auto;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 50px;
  padding: 45px 0px;

}
.pie_de_pagina .g1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items:center;

}
.pie_de_pagina .g1 .box figure img{
  width: 100px;
  color: white;

}
.pie_de_pagina .g1 .box h2{
  color: antiquewhite;
  font-size: 20px;
  margin-bottom: 25px;
}
.pie_de_pagina .g1 .box p{
  color: antiquewhite;
  margin-bottom: 10px;

}
.pie_de_pagina .g1 .redes-sociales a{
  display: inline-block;
  text-decoration: none;
  
  font-size: 30px;
  padding: 15px;
  color: white;
  margin-right: 10px ;
  background: black;
  text-align: center;
  border-radius: 100%;
  border: 2px solid white;
  transition: all 300ms ease;

}
.pie_de_pagina .g1 .redes-sociales a:hover {
  color: greenyellow;
  border: solid 2px greenyellow;
}


.pie_de_pagina .g2{
  background-color: black;
  text-align: center;
  color: white;
  padding: 15px 10px;
}
